@charset "ISO-8859-1";

.books-container, .user-container {
	display: grid;
	gap: 50px;
	grid-template-columns: 25% 25% 25% 25%;
	margin-left: auto;
	margin-right: auto;
	row-gap: 50px;
	padding-bottom: 50px;
	padding-left: 80px;
	padding-right: 230px;
	padding-top: 20px;
	width: 65%;
}

.book-info, .user-info {
	border: 1px solid gray;
	border-radius: 5px;
	cursor: pointer;
	height: auto;
	padding: 10px 10px 10px 10px;
}

.book-info:hover, .user-info:hover {
	background-color: rgb(255, 242, 230);
	border: 1px solid #882042;
}

.img {
	display: flex;
	flex-direction: column;
	height: 350px;
}

.img>img {
	border: 1px solid rgb(237, 237, 222);
	border-radius: 10px;
}

.img>h3 {
	text-align: center;
}

.details {
	height: 30px;
}

.details>h4, h4 {
	text-align: center;
}

.view-btn {
	align-items: center;
	display: flex;
	height: 50px;
	justify-content: center;
}

.books-container button {
	background-color: rgb(255, 77, 136);
	border: none;
	border-radius: 20px;
	cursor: pointer;
	outline: none;
	width: 100px;
	height: 30px;
}

h1{
	color: maroon;
	margin-left: 170px;
}

.info{
	display: flex;
	flex-direction: column;
}

.avatar>img{
	height: 200px;
	width: 100%;
}
