@charset "ISO-8859-1";

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

main {
	align-items: center;
	background-image: url("../images/bok.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	height: 550px;
	width: 100%;
}

.buy-form-container {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	display: flex;
	height: 300px;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px 20px 20px;
	width: 30%;
}

form {
	color: #e6f2ff;
	font-size: 25px;
	display: grid;
	grid-template-columns: 30% 70%;
	height: 80%;
	width: 100%;
}

.bill-form-container{
	color: #e6f2ff;
    font-size: 25px;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
input{
	outline: none;
	height: 40px;
	width: 100%;
}

input[type="submit"], button{
	border: none;
	cursor: pointer;
	height: 40px;
} 

input[type="submit"], .buy{
	width: 100%;
	background-color: rgb(0, 153, 51);
}

.cancel{
	width: 70%;
	background-color: rgb(204, 0, 0);
}



footer {
	margin-top: 0;
}