@charset "ISO-8859-1";

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

main {
	align-items: center;
	background-image: url("../images/bok.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	height: 600px;
	width: 100%;
}

.buy-form-container {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	display: flex;
	height: auto;
	justify-content: center;
	margin-left: auto;
	line-height: 2;
	margin-right: auto;
	padding: 20px 20px 20px 20px;
	width: 50%;
}

form {
	color: #e6f2ff;
	font-size: 25px;
	display: grid;
	grid-template-columns: 30% 65%;
	column-gap: 5%;
	height: 80%;
	width: 100%;
}

.bill-form-container {
	color: #e6f2ff;
	font-size: 25px;
	display: grid;
	grid-template-columns: 50% 50%;
	height: 80%;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

input {
	outline: none;
	height: 40px;
	width: 100%;
}

input[type="submit"], button {
	border: none;
	cursor: pointer;
	height: 40px;
}

input[type="submit"], .buy, a>button {
	color: white;
	margin-top: 20px;
	width: 100%;
}

input[type="submit"], .buy {
	background-color: rgb(0, 153, 51);
}

a>button {
	background-color: rgb(153, 51, 0);
}

.cancel {
	width: 70%;
	background-color: rgb(204, 0, 0);
}

#alert-msg {
	color: red; 
	font-size: 15px;
	visibility: hidden;
}