@charset "ISO-8859-1";

.msg {
	color: blue;
	text-align: center;
}

.book-info {
	border: 1px solid grey;
	display: grid;
	grid-template-columns: 30% 70%;
	gap: 50px;
	height: 300px; margin-left : auto;
	margin-right: auto;
	margin-top: 100px;
	padding: 20px 20px 20px 20px;
	margin-left: auto; margin-right : auto; margin-top : 100px; padding :
	20px 20px 20px 20px;
	width: 70%;
}

.imgdiv {
	border-right: 1px solid grey;
	padding: 10px 10px 10px 10px;
	height: 280px;
}

.book-info>div>img {
	height: 100%;
	width: 100%;
}

.btn {
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 30px;
	width: 70%;
}

.btn>a>button {
	border: none;
	color: white;
	cursor: pointer;
	height: 40px;
	outline: none;
	width: 100%;
}

.cart {
	background-color: rgb(153, 51, 0);
}

.order {
	background-color: rgb(0, 153, 51);
}
