@charset "ISO-8859-1";

.order-history {
	border-radius: 20px;
	display: grid;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	padding: 10px 10px 10px 10px;
	grid-template-columns: 35% 60%;
	gap: 5%;
	width: 65%;
}

.order-info {
	display: flex;
	flex-direction: column;
}

.bookname {
	font-size: 30px;
	font-weight: bolder;
	margin-bottom: 60px;
}

.order-details {
	display: grid;
	grid-template-columns: 45% 40%;
	gap: 15%; 
	margin-left: auto;
	margin-right: auto; 
	margin-bottom: 50px; 
	width: 35%;
	padding: 10px 10px 10px 10px;
}

.info {
	display: grid;
	grid-template-columns: 50% 50%;
	font-size: 25px;
}

