@charset "ISO-8859-1";

body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

header {
	margin: 0;
	padding: 0;
	width: 100%;
}

ul {
	height: 50px;
	padding: 0;
	margin: 0;
	width: 100%;
}

li {
	display: inline-block;
	justify-content: right;
	padding-top: 20px;
	text-align: center;
}

.left {
	float: left;
	height: 80px;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 150px;
	margin: 0;
}

li a {
	color: rgb(166, 89, 89);
	font-size: 20px;
	font-weight: bolder;
	text-decoration: none;
}

.admin {
	float: right;
	font-size: 25px;
	font-weight: bolder;
	margin-right: 20px;
	margin-top: 25px;
}

.search {
	align-items: stretch;
	border: 1px solid black;
	display: flex;
	height: 50px;
	height: 50px;
	margin-left: 300px;
	width: 500px;
}

.search input {
	border: none;
	outline: none;
	text-align: center;
	width: 100%;
}

.search button {
	background-color: rgb(78, 203, 245);
	border: none;
	cursor: pointer;
	height: 100%;
	outline: none;
	padding: 10px;
	width: 100%
}

.profile {
	float: right;
	margin-right: 20px
}

nav {
	background-color: rgb(166, 89, 89);
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.menu {
	display: flex;
	width: 100%;
}

.menu li {
	cursor: pointer;
	height: 40px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.menu li:hover{
	background-color: rgba(1, 1, 1, 0.5);
}

.menu li a {
	color: white;
}