@charset "ISO-8859-1";

body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

header {
	height: 95px;
	margin: 0;
	padding: 0;
	width: 100%;
}

ul {
	height: 50px;
	padding: 0;
	margin: 0;
	width: 100%;
}

li {
	display: inline-block;
	justify-content: right;
	padding-top: 20px;
	text-align: center;
}

.left {
	float: left;
	height: 80px;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 150px;
}

li a {
	color: rgb(166, 89, 89);
	font-size: 20px;
	font-weight: bolder;
	text-decoration: none;
}

.admin {
	float: right;
	font-size: 25px;
	font-weight: bolder;
	margin-right: 20px;
	margin-top: 25px;
}

.search {
	align-items: stretch;
	border: 1px solid black;
	display: flex;
	height: 50px;
	margin-left: 300px;
	width: 500px;
}

.search input {
	border: none;
	outline: none;
	text-align: center;
	width: 100%;
}

.search button {
	background-color: rgb(78, 203, 245);
	border: none;
	cursor: pointer;
	height: 100%;
	outline: none;
	padding: 10px;
	width: 10%
}

.profile {
	cursor: pointer;
	float: right;
	margin-right: 20px
}

nav {
	background-color: rgb(166, 89, 89);
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.menu {
	display: flex;
	width: 100%;
}

.menu li {
	cursor: pointer;
	height: 40px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.menu li a {
	color: white;
}

.catgry {
	display: flex;
	width: 100%;
}

.catgry li, .button {
	cursor: pointer;
	height: 40px;
	padding-top: 10px;
	width: 120px;
}

.catgry li a {
	color: white;
}

.catgry li:hover, .menu li:hover {
	background-color: rgba(1, 1, 1, 0.5);
}

.dropdown-btn, .dropdown-container, .dropdown-container>a {
	background-color: rgb(252, 252, 233);
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: black;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
}

.dropdown-container>a:hover{
	background-color: white;
}

.dropdown-btn:hover {
	background-color: rgb(252, 252, 225);
	color: black;
}

.dropdown-container {
	background-color: rgb(249, 249, 210);
	display: block;
	padding-left: 8px;
}

.fa-caret-down {
	float: right;
	padding-right: 8px;
}

.filters {
	background-color: white;
	display: none;
	position: absolute;
	right: 0;
	top: 10;
	width: 20%;
	z-index: 5;
}

.button {
	float: right;
	padding-right: 20px;
}

.slide-container {
	height: 250px;
	width: 100%;
}

.text {
	align-items: center;
	background-color: rgba(26, 26, 26, 0.4);
	border-radius: 20px;
	color: #e6f2ff;
	display: flex;
	font-size: 30px;
	flex-direction: column;
	height: 200px;
	justify-content: center;
	margin-left: 40px;
	margin-top: 25px;
	position: absolute;
	text-align: center;
	width: 40%;
}

.topic {
	color: maroon;
	font-size: 18px;
	margin-left: 170px;
}

.books-container {
	display: grid;
	gap: 50px;
	grid-template-columns: 25% 25% 25% 25%;
	margin-left: auto;
	margin-right: auto;
	row-gap: 50px;
	padding-bottom: 50px;
	padding-left: 80px;
	padding-right: 230px;
	padding-top: 20px;
	width: 65%;
}

.book-info {
	border: 1px solid gray;
	border-radius: 5px;
	cursor: pointer;
	height: auto;
	padding: 10px 10px 10px 10px;
}

.book-info:hover {
	background-color: rgb(255, 242, 230);
	border: 1px solid #882042;
}

.img {
	display: flex;
	flex-direction: column;
	height: 350px;
}

.img>img {
	border: 1px solid rgb(237, 237, 222);
	border-radius: 10px;
}

.img>h3 {
	text-align: center;
}

.details {
	height: 50px;
}

.details>h4 {
	margin-bottom: 10px;
	text-align: center;
}

.view-btn {
	align-items: center;
	display: flex;
	height: 50px;
	justify-content: center;
}

.books-container button {
	background-color: rgb(255, 77, 136);
	border: none;
	border-radius: 20px;
	cursor: pointer;
	outline: none;
	width: 100px;
	height: 30px;
}

.view {
	font-size: 20px;
	margin-left: 48%;
	margin-top: 15px;
	margin-bottom: 25px;
	text-decoration: none;
}

.addr {
	color: white;
	margin-top: 15px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

#option {
	background-color: rgb(255, 249, 230);
	border-radius: 10px;
	display: none;
	flex-direction: column;
	line-height: 25px;
	padding: 20px 20px 20px 20px;
	position: absolute;
	right: 5px;
	top: 80px;
	z-index: 5;
}

#option>a{
	text-decoration: none;
}

.details>div{
	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;
}
.checked {
  color: orange;
}