@charset "ISO-8859-1";

.viewed-book {
	border: 1px solid grey;
	display: grid;
	grid-template-columns: 30% 65%;
	gap: 5%;
	height: auto; margin-left : auto;
	margin-right: auto;
	margin-top: 100px;
 	padding: 20px 20px 20px 20px;
	width: 70%;
}

.imgdiv {
	padding: 10px 20px 10px 10px;
	height: 350px;
}

.viewed-book>div>img {
	border: 0.5px solid gray;
	height: 100%;
	width: 100%;
}

.topics>h1, .topics>h4 {
	line-height: 50px;
	margin-bottom: 0;
	margin-top: 0;
	text-align: center;
}

.head {
	border-bottom: 1px solid gray;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.topics {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.info{
	display: flex;
	font-size: 20px;
	justify-content: flex-start;
	margin-bottom: 20px;
}

.label {
	font-family: serif; font-size : 20px;
	font-weight: bolder;
	font-size: 20px;
}

.btn {
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 30px;
	width: 70%;
}

.btn>a>button {
	border: none;
	color: white;
	cursor: pointer;
	height: 40px;
	outline: none;
	width: 100%;
}

.cart {
	background-color: rgb(153, 51, 0);
}

.order {
	background-color: rgb(0, 153, 51);
}

.price-container{
	display: grid;
	grid-template-columns: 35% 65%;
}

.price-container h2{
	color: rgb(230, 0, 0);
}

.msg{
	color: blue;
	text-align: center;
}

.review-panel{
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	line-height: 50px;
	width: 50%;	
}

.review-panel>a>button{
	background-color: blue;
	border: none;
	color: white;
	cursor: pointer;
	height: 30px;
	outline: none;
	width: 100px;
}
